.header {
  position: relative;
  box-shadow: 0 -10px 10px 15px rgba(0, 0, 0, 0.5);
  z-index: 1; //determina la altura a la que esta el elemento, para poner otros elemnetos por encima o debajo de este
}
