.top-bar {
  height: 90px;
  background-color: $background-dark;

  .ui .grid {
    margin: 0;
    padding: 0;
    .cloumn {
      padding: 0;
    }
  }

  &__left {
    //& para separar clase padre de clase hija &=.top-bar
    display: flex !important; //!important es para que tomen precedencia sobre otras reglas de estilos que se puedan encontrar
    align-items: center;
    img //permite actuar sobre la etiqueta <img>
    {
      height: 50px;
      transition: all 0.5s;

      &:hover {
        //al pasar el raton por encima el logo se amplia un poco
        transform: scaleX(1.15);
      }
    }

    h1 {
      font-size: 4px;
      color: $background-dark;
      display: flex !important;
    }
  }

  &__right {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;

    ui.icon.input > input {
      padding-right: 5px !important;
    }

    .ui.input {
      //lo genera automaticamente el componente de semantic
      align-items: center;
      margin-right: 25px;

      input {
        background-color: transparent !important;
        border: 0;
        border-bottom: 2px solid $border-grey-half !important;
        border-radius: 0;
        color: $border-grey-light !important;
        padding: 5px 0 !important;
        width: 300px;
        font-size: 20px;
        transition: width 0.7s;

        &:focus {
          //al pulsar en el buscador
          border-bottom: 2px solid $primary !important;
          color: $primary !important;
        }
      }

      i {
        color: $primary;
        opacity: 1 !important;
        font-size: 25px;
        right: -50px !important;
      }
    }
  }
}
